<div class = "container">
    <div class = "row">

        <div id = "apex-social-links" class = "col-sm-6 col-sm-push-6 clearfix">
            <div class = "wrapper clearfix">
                <a class = "apex-icon" href = "#" target = "_blank">
                    <i class = "apex-icon-facebook"></i>
                </a>
            </div>
        </div>
        <!-- #apex-social-links -->


    </div>
    <!-- .row -->

    <a id = "apex-totop" href = "#"><i class = "apex-icon-arrow-up-short"></i></a>

</div>
<!-- .container -->