<meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1">
<meta name = 'robots' content = 'noindex,follow'>

<!-- Page Title -->
<title>Spice Mixer</title>

<!-- Favicons -->
<link rel = "icon" type = "image/png" href = "assets/images/favicon.png">

<!-- Apple touch icon -->
<link rel = "apple-touch-icon" href = "assets/images/favicon.png">

<!-- Font Styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Bootstrap Styles -->
<link rel = "stylesheet" href = "assets/bootstrap/css/bootstrap.min.css" type = "text/css" media = "all">

<!-- Component Styles -->
<link rel = "stylesheet" href = "assets/mtphr-slider/mtphr-slider.css" type = "text/css" media = "all">
<link rel = "stylesheet" href = "assets/mtphr-slidegraph/mtphr-slidegraph.css" type = "text/css" media = "all">
<link rel = "stylesheet" href = "assets/mtphr-gallery/mtphr-gallery.css" type = "text/css" media = "all">
<link rel = "stylesheet" href = "assets/mtphr-rotator/mtphr-rotator.css" type = "text/css" media = "all">

<!-- Animate Styles -->
<link rel = "stylesheet" href = "assets/css/animate.min.css" type = "text/css" media = "all">

<!-- Apex Styles -->
<link rel = "stylesheet" href = "assets/fontastic/styles.css" type = "text/css" media = "all">
<link rel = "stylesheet" href = "assets/css/main.css?v=1.0.8" type = "text/css" media = "all">

<!-- Custom Styles -->
<link rel = "stylesheet" href = "assets/css/custom.css" type = "text/css" media = "all">

<!-- Load Modernizr -->
<script type = "text/javascript" src = "assets/js/modernizr-2.6.2.min.js"></script>

<!--[if lt IE 9]>
<script type = "text/javascript" src = "assets/js/respond.min.js"></script>
<![endif]-->