<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- !Start section -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section id = "about" class = "apex-section">

    <!-- Background pattern overlay -->
    <div class = "apex-section-overlay"></div>

    <div class = "apex-section-inner">
        <div class = "container">

            <article>
                <div class = "section-header gallery-header wow fadeIn">
                    <h1 class = "section-title">About Us</h1>

                    <div class = "section-header-sep"><span></span></div>
                    <h4 class = "section-tagline">Our Group Details</h4>
                </div>

                <div class = "entry-content clearfix">
                    <p>

                    <h3>Group Information</h3>

                    <p style = "padding-left:5em; font-size: 16px">
                        <strong>Advisor:</strong> Dr. Thomas R. Collins <br>
                        <strong>Group Name:</strong> Spice Mixer <br>
                        <strong>Group Number:</strong>S9 <br>
                        <strong>Lecture Section:</strong> ECE4012L5A <br>
                        <strong>Lecturer:</strong> Dr. Whit Smith
                    </p>

                    </p>

                    <p>
                    <h3>Details</h3>
                    <p style = "padding-left:5em; font-size: 16px">
                    The Automated Spice Mixer Team will design a device that will automatically retrieve and weigh the powders conforming to various recipes. Another design specification is to provide easy unit conversions between various mass and volume metrics. Furthermore, the device will
                    have Internet connection for downloading recipes and interacting with cloud resources. Real-time data concerning the remaining ingredients can be displayed locally and pushed to a server.
                    </p>
                    </p>
                </div>
                <!-- .entry-content -->

            </article>

        </div>
        <!-- .container -->
    </div>
    <!-- .apex-section-inner -->
</section>
<!-- .apex-section -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- !End section -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->