<section id = "document" class = "apex-section">

    <!-- Background pattern overlay -->
    <div class = "apex-section-overlay"></div>

    <div class = "apex-section-inner">
        <div class = "container">

            <article>

                <!-- Start section header -->
                <div class = "section-header gallery-header wow fadeIn">
                    <h1 class = "section-title">Our Documents</h1>

                    <div class = "section-header-sep"><span></span></div>
                    <h4 class = "section-tagline">Deliverable and Additional Documents</h4>
                </div>
                <!-- End section header -->

                <div class = "entry-content clearfix wow fadeIn" data-wow-delay = ".25s">

                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                    <!-- !Start gallery -->
                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                    <div class = "mtphr-gallery clearfix">

                        <div class = "mtphr-gallery-rotator"></div>

                        <!-- Start gallery filter -->
                        <div class = "mtphr-gallery-filter clearfix">
                            <a class = "btn active" href = "#" data-filter = "*">All Documents</a>
                            <a class = "btn" href = "#" data-filter = ".technical">Technical Review</a>
                            <a class = "btn" href = "#" data-filter = ".proposal">Proposal</a>
                            <a class = "btn" href = "#" data-filter = ".presentation">Presentation</a>
                            <a class = "btn" href = "#" data-filter = ".summary">Project Summary</a>
                        </div>
                        <!-- End gallery filter -->
                        <!-- Start gallery block -->
                        <a href="files/test.docx" download="">
                        <div class="mtphr-gallery-block apex-format-gallery technical">
                            <div class="entry-header">
                                <div class="entry-featured-archive">
                                    <img src="assets/images/PortfolioThumb1.jpg" alt="Portfolio 1">
		                        <span class="entry-featured-overlay">
		                  			<span class="entry-featured-icons-container">
		                        		<span class="entry-featured-icons entry-featured-icons-1 clearfix">
		                        			 <a href="files/test.docx" download="">
                                                <i class="apex-icon-zoom"></i>
                                            </a>
		                      			</span>
		                    			</span>
		                  			</span>
		                  			<span class="entry-featured-data clearfix">
		                  				<span class="entry-title">Sunny Patel</span>
		                  				<span class="entry-data">Technical Review Paper</span>
                                        <span class="entry-data">Title</span>

		                				</span>

                                </div>
                            </div>
                        </div>
                        <!-- End gallery block -->

                    </div>

                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                    <!-- !End gallery -->
                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                </div>

            </article>

        </div>
        <!-- .container -->
    </div>
    <!-- .apex-section-inner -->
</section>
<!-- .apex-section -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- !End section -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->