<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- !Start section -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section id = "team" class = "apex-section">

    <!-- Background pattern overlay -->
    <div class = "apex-section-overlay"></div>

    <div class = "apex-section-inner">
        <div class = "container">

            <article>

                <!-- Start section header -->
                <div class = "section-header wow fadeIn">
                    <h1 class = "section-title">Our Team</h1>

                    <div class = "section-header-sep"><span></span></div>
                    <h4 class = "section-tagline">Meet Spice Mixer Team Members</h4>
                </div>
                <!-- End section header -->

                <div class = "entry-content wow fadeIn" data-wow-delay = ".25s">

                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                    <!-- !Start post slider -->
                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                    <div class = "mtphr-slider">

                        <!-- Slider header -->
                        <div class = "mtphr-slider-header">
                            <div class = "mtphr-slider-navigation clearfix">
                                <a class = "mtphr-slider-prev" href = "#">
                                    <i class = "apex-icon-arrow-left-1"></i>
                                </a>
                                <a class = "mtphr-slider-next" href = "#">
                                    <i class = "apex-icon-arrow-right-1"></i>
                                </a>
                            </div>
                        </div>

                        <div class = "mtphr-slider-content-wrapper">
                            <div class = "mtphr-slider-content clearfix">

                                <!-- Start slider block -->
                                <div class = "mtphr-slider-block apex-format-member">
                                    <div class = "entry-header">
                                        <div class = "entry-featured-archive">
                                            <img src = "assets/images/Team1.jpg" alt = "Team 1" width = "370" height = "280">
                                            <span class = "entry-featured"><span class = "entry-featured-icons-container"></span></span>
		                    			<span class = "entry-featured-data clearfix">
		                    				<span class = "entry-title">Philippe Laban</span>
		                    				<span class = "entry-data">Group Leader</span>
		                  				</span>
                                        </div>
                                    </div>
                                    <div class = "entry-excerpt">
                                        <p>
                                            A long time ago in a galaxy far, far away....
                                        </p>
                                    </div>
                                </div>
                                <!-- End slider block -->

                                <!-- Start slider block -->
                                <div class = "mtphr-slider-block apex-format-member">
                                    <div class = "entry-header">
                                        <div class = "entry-featured-archive">
                                            <img src = "assets/images/Team2.jpg" alt = "Team 2" width = "370" height = "280">
                                            <span class = "entry-featured"><span class = "entry-featured-icons-container"></span></span>
		                    			<span class = "entry-featured-data clearfix">
		                    				<span class = "entry-title">Ratchapong Tangkijvorakul</span>
		                    				<span class = "entry-data">Webmaster</span>
		                  				</span>
                                        </div>
                                    </div>
                                    <div class = "entry-excerpt">
                                        <p>
                                            A long time ago in a galaxy far, far away....
                                        </p>
                                    </div>
                                </div>
                                <!-- End slider block -->

                                <!-- Start slider block -->
                                <div class = "mtphr-slider-block apex-format-member">
                                    <div class = "entry-header">
                                        <div class = "entry-featured-archive">
                                            <img src = "assets/images/Team3.jpg" alt = "Team 3" width = "370" height = "280">
                                            <span class = "entry-featured"><span class = "entry-featured-icons-container"></span></span>
		                    			<span class = "entry-featured-data clearfix">
		                    				<span class = "entry-title">Sunny Patel</span>
		                    				<span class = "entry-data">Slave #1</span>
		                  				</span>
                                        </div>
                                    </div>
                                    <div class = "entry-excerpt">
                                        <p>
                                            A long time ago in a galaxy far, far away....
                                        </p>
                                    </div>
                                </div>
                                <!-- End slider block -->

                                <!-- Start slider block -->
                                <div class = "mtphr-slider-block apex-format-member">
                                    <div class = "entry-header">
                                        <div class = "entry-featured-archive">
                                            <img src = "assets/images/Team4.jpg" alt = "Team 4" width = "370" height = "280">
                                            <span class = "entry-featured"><span class = "entry-featured-icons-container"></span></span>
		                    			<span class = "entry-featured-data clearfix">
		                    				<span class = "entry-title">Michael Kuchnik</span>
		                    				<span class = "entry-data">Slave #2</span>
		                  				</span>
                                        </div>
                                    </div>
                                    <div class = "entry-excerpt">
                                        <p>
                                            In 1841, Solomon Northup is a free African-American man working as a violinist, who lives with his wife, and two children, in Saratoga Springs, New York. Two men, Brown and Hamilton, offer him short-term employment as a musician if he will travel with them
                                            to Washington, D.C.
                                        </p>
                                    </div>
                                </div>
                                <!-- End slider block -->

                            </div>
                        </div>
                    </div>

                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                    <!-- !End post slider -->
                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                </div>
                <!-- .entry-content -->

            </article>

        </div>
        <!-- .container -->
    </div>
    <!-- .apex-section-inner -->
</section>
<!-- .apex-section -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- !End section -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->